.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}
.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}
.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}
.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}
.merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
}
.merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
}
.merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}
.merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
}



* {
    font-family: Merriweather,sans-serif;
}

body {
    margin: 0;
}

#map {
    width: 100%;
    height: 93.5%;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 6.98%);
    filter: blur(0px);
}

.navbar {
    display: flex;
    /*justify-content: space-between;*/
    padding: 0;
    height: 6.5vh;
    background-color: rgba(18, 18, 18, 0.95);
}

#titlebox {
    display: flex;
    background-color: #a9a9a9;
    font-weight: bold;
    padding: 0 0.5vw;
    user-select: none;
}

#titlebox a {
    text-decoration: none;
}

#buttonbox {
    display: flex;
    /*background-color: lightpink;*/
    align-items: center;
}

#socialsbox {
    display: flex;
    /*background-color: green;*/
    margin-left: auto;
    margin-right: 0.8vw;
    height: 100%;
    align-items: center;
}

#socialsbox a {
    padding: 0.25vw;
    margin: 0 0.2vw;
    /*background-color: red;*/
}

#titlelink {
    font-size: 3.5vh;
    margin: auto 0;
    padding:  0.25vw 0;
    justify-items: center;
    color: whitesmoke;
    /*background-color: red;*/
}

#buttonbox a {
    color: whitesmoke;
    font-size: 1.5em;
    text-decoration: none;
    justify-content: center;
    align-content: center;
    margin: 0.5vw;
    padding: 0 0.5vw;
    /*background-color: blue;*/
}

#buttonbox a:nth-child(1) {
    margin-left: 1.25vw;
}

.fa-brands.fa-discord.fa-2x {
    color: #7289da;
}
.fa-brands.fa-github.fa-2x {
    color: #e8eaea;
}
.fa-brands.fa-stack-overflow.fa-2x {
    color: #F47F24;
}
.fa-solid.fa-envelope.fa-2x {
    color: #e3e3e3;
}

#singleaircraft {
    position: absolute;
    top: 75px;
    right: 20px;
    padding: 10px 10px;
    z-index: 400;
    font-weight: bold;
}

#multiaircraft {
    position: absolute;
    top: 75px;
    right: 100px;
    padding: 10px 10px;
    z-index: 400;
    font-weight: bold;
}

.about p {
    position: absolute;
    z-index: 400;
    top: 50vh;
    right: 50vw;

}