/*scale with zoom or width*/
#map {
    width: 100%;
    height: 93%;
    border-top: 0.5vh solid black;

    /*dynamically center in middle of screen*/
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 7%);
}